*{
margin:0px;
padding:0px;
}
ul{list-style:none;}
body{
	background:#00a1e9 url('../images/conn/bg-ident.png') repeat left top;
	font-family: Geneva,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
	color:#000;
}
#container{
	  position:absolute;
	  left: 50%; 
	  top: 50%;
	  width: 786px;
	  height: 591px;
	  margin-top: -303px;
	  margin-left: -435px;
}
#bgcon{
	list-style:none;
}
#bgcon li{
	width:100%;
	height:161px;
}

#bgcon .bg1{
	background:transparent url('../images/conn/bg-conn-1.png') no-repeat left top;
	height:167px;
}
#bgcon .bg2{
	background:transparent url('../images/conn/bg-conn-2.png') no-repeat left top;
	height:179px;
}
#bgcon .bg3{
	background:transparent url('../images/conn/bg-conn-3.png') no-repeat left top;	
	height:245px;
	color:#fff;
}
.txt-tit{
	width:330px;
	font-family:"Myriad Pro";
	font-size:28px;
	color:#fff;
	font-weight:bold;
	margin-bottom:13px;
	line-height:28px;
	font-variant:small-caps;
}
.aConn{
	display:block;
	width:182px;
	height:60px;
	background:transparent url('../images/conn/btn-conn-1.png') no-repeat left top;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	left: 640px; 
	top: 535px;
}
.aConn2{
	display:block;
	width:182px;
	height:60px;
	background:transparent url('../images/conn/btn-conn-2.png') no-repeat left top;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	left: 640px; 
	top: 535px;
}
#boxes #dialog {
    background-color: transparent;
    display: none;
    position: absolute;
    left: 50%; 
    top: 50%;
    height: 340px;
    width: 422px;
    margin-left:-211px;
    margin-top:-220px;
    z-index: 9999;
}
#mask {
    background: #000000;
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 9000;
}
#boxes #dialog ul{
	list-style:none;
	width:100%;
	height:100%;
}
#boxes #dialog ul li{
	vertical-align:top;
}
li.auth_h{
	height:56px;
	width:402px;
	margin:0px 10px !important;
}
li.auth_h ul, li.auth_b ul, li.auth_f ul{
	list-style:none;
	width:100%;
	height:100%;
	float:left;
}
li.auth_h li, li.auth_b li, li.auth_f li{
	float:left;
}
li.auth_h li.auth_CL{
	background:transparent url('../images/conn/auth-topCL.gif') no-repeat left top;
	width:8px;
	height:100%;
}
/*li.auth_h li.auth_BT{
	background:transparent url('../images/conn/icon-login.png') repeat-x left top;
	width:108px;
	height:108px;
	z-index: 9999;
}*/
li.auth_h li.auth_CR{
	background:transparent url('../images/conn/auth-topCR.gif') no-repeat left top;
	width:8px;
	height:100%;
}
li.auth_b{
	width:100%;
	height:111px;
}


li.auth_b li.auth_form{
	background:transparent url('../images/conn/bg-conn.png') repeat-x left bottom;
	height:292px;
	width:400px;
	overflow:hidden;
}
li.auth_b li.auth_form ul{
	margin: 120px 0 0 75px;
}

li.auth_f{
	width:100%;
	height:78px;
}
li.auth_f li.auth_FL{
	background:transparent url('../images/conn/foot-L.png') no-repeat left top;
	width:11px;
	height:100%;
}


.auth_h_txt{
	font-size:22px;
	font-family:"Myriad Pro";
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	margin:13px 0 0 12px;
}

.auth_lbl{
	font-size:18px;
	font-family:"Myriad Pro";
	font-weight:bold;
	color:#4b4b4b;
}
#txt_form{
	list-style:none;
	width:100%;
	height:38px !important;
	margin:10px 0 10px 0 !important;
	padding:0px;
	float:left;
}
.auth_h_txt ul:focus{
	border-color:rgba(82,168,236,0.8);
	outline:0;
	outline:thin dotted \9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6)}
#txt_form li{
	float:left;
}
#txt_form .txt_cl{
	background:transparent url('../images/conn/txt-cl.png') no-repeat left top;
	height:100%;
	width:37px;
}
#txt_form .txt_cl2{
	background:transparent url('../images/conn/txt-cl2.png') no-repeat left top;
	height:100%;
	width:37px;
}
#txt_form .txt_cr{
	background:transparent url('../images/conn/txt-cr.png') no-repeat left top;
	height:100%;
	width:7px;
}
#txt_form .txt_c{
	background:transparent url('../images/conn/txt-bg.png') repeat-x left top;
	height:100%;
	width:200px;
}
.field_form{
	border:0px;
	padding:8px 5px 6px 5px;
	color:#4b4b4b;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:12px;
	background-color:transparent;
	display:block;
	width:190px;
}
#conn-area{
	background:transparent url('../images/conn/conn-bg.png') no-repeat right top;
	float:right;
	width:207px !important;
	height:58px !important;
	list-style:none;
	position:absolute;
	right:-14px;
}
#conn-area li{
	float:left;
}
.conn-ico{
	background:transparent url('../images/conn/conn-ico.png') no-repeat left 13px;
	width:30px;
	height:38px;
	margin-left:21px;
}
.conn-txt{
	margin-left:-1px;
}
.conn-txt a{
	background:transparent url('../images/conn/btn-login.png') no-repeat left;
	height:30px;
	width:68px;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	margin-top:53px;
	margin-left:19px;
}
.conn-txte{
	color:#F00;
	margin-top:58px;
	margin-left:-153px;
	padding-right:27px;
}
.conn-txte p{

	float:left
}
.conn-txte h1{
	padding-left:3px;
	color:#4b4b4b;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:10px;
	float:left
}