* {
	margin:0;
	padding:0;
}

body, h1, h2, h3, h4, h5, h6, a, input, select, textarea {
	font:11px verdana, Helvetica, sans-serif;
	color:#000;
	font-weight:normal;
}
img {
	border:0
}
a {
	text-decoration:none;
	color:#bd0e17;
	border:0
}
a:hover {
	text-decoration:none;
	color:#f1c515;
}
ul {
	list-style:none;
}
li {
	list-style:none;
}
.clear {
	clear:both;
}
body {
	background:url('../images/bg-backgroung.png') repeat-y left top;
}
/*
***********************************
General class // Said Asebbane
***********************************
*/
#Top {
	background:transparent url('../images/bg-top.png') repeat-x left top;
	height:40px
}
.top-sep {
	background:transparent url('../images/sep-top.png') no-repeat left top;
	height:29px;
	width:1px;
	float:left;
	margin:0 0 0 5px
}
.nav {
	padding:5px 0 0 5px;
	float:left
}
.group {
	height:22px;
	width:22px;
	padding-top:3px;
	margin-left:6px;
	float:left
}
.top-right {
	float:right
}
.top-right ul li {
	float:left;
	background:transparent url('../images/sep-top.png') no-repeat left top;
	padding:2px 5px 0 0
}
.top-right ul li p.utilisateur {
	font-size:12px;
	color:#fff;
	padding:4px 0px 0px 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
.top-right ul li .general {
	height:22px;
	width:22px;
	padding-top:2px;
	margin-left:5px;
}
.top-right ul li .deconnexion {
	height:22px;
	width:22px;
	padding-top:2px;
	margin-left:5px;
}
#header {
	background:transparent url('../images/bg-header.png') repeat-x left top;
	width:100%;
	height:75px;
	margin-bottom:10px
}
#header .shad {
	background:transparent url('../images/sha-header.png') no-repeat top;
	width:1300px;
	height:68px;
	margin:auto
}
#header .bg3 {
	background:transparent url('../images/bg-header3.png') no-repeat right top;
	width:98%;
	height:68px;
	margin:auto;
	float:right
}
#header .bg3 h1 {
	background:transparent url('../images/logo.png') no-repeat 5px 6px;
	height:64px;
	width:152px;
	float:left
}
#header .bg3 h2 {
	font-size:18px;
	color:#323232;
	padding:21px 0px 0px 50px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	float:left
}
#contenu {
	width:100%;
	margin:0 0 0 4px;
	padding-bottom: 8px;
	position: relative;
	min-height: 100%;
}
#interieur {
	width:80%;
	margin:0px auto;
	padding-bottom: 25px;
	background-color:#FFF;
	border-radius: 12px;
	border: 1px solid #CCC;
	position: relative;
	min-height:500px !important;
}
#interieur h1 {
	background:transparent url('../images/puce-lien.png') no-repeat 0px 10px;
	height:35px;
	padding-top:12px;
	border-bottom: 1px solid #0083c0;
	width:97%;
	margin:auto
}
#interieur h1 span {
	font:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	color:#323232
}
#interieur h1 span a {
	font:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#323232
}
#interieur h1 span ac {
	color:#0083c0
}
#interieur h2 {
	border-bottom: 1px solid #0083c0;
	font-size:11px;
	font-weight:bold;
	width:97%;
	margin:auto;
	margin-bottom:15px;
	padding-bottom:25px;
	height:22px;
	padding-top:10px
}
#interieur h2 or {
	color:#ed7000;
	font-size:12px;
}
#interieur h4 {
	color:#e07701;
	font-size:12px;
	margin:8px 0;
	text-decoration:underline
}
/*#interieur h2 span{border-bottom: 1px solid #0083c0; margin-bottom:20px; padding-bottom:14px;}*/
#interieur .topinter {
	border: 1px solid #CCC;
	border-radius:12px;
	width:97%;
	margin:20px auto 10px auto;
	background-image:linear-gradient(white, #f1f1f1);
}
#interieur .topinter p.niveau {
	font:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#323232;
	padding:10px 19px 10px 20px;
	float:left
}
#interieur .topinter p.class {
	font:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#323232;
	padding:10px 30px 10px 20px;
	float:left
}
#interieur .topinter .dropdown select {
	border: 1px solid #8b8b8b;
	border-radius: 3px;
	color: #555555;
	font-size: 12px;
	height: 20px;
	padding-top:0px;
	width: 200px;
	z-index: 10;
	background-image:linear-gradient(white, #f1f1f1);  /*Adds background-image*/
	color: #555555;
	margin:8px 0;
}
#interieur ul {
	float:right
}
#interieur ul li {
	float:left;
	/*padding-right:180px;*/
}
#interieur ul li .icon {
	padding:0;
	float:left
}
#interieur ul li a.lien1 {
	font-weight:bold;
	color:#0083c0;
	padding:3px 0 0px 5px;
	position: absolute;
}
#interieur ul li a:hover.lien1 {
	color:#323232;
}
#interieur ul li a.lien2 {
	font-weight:bold;
	color:#0083c0;
	padding:3px 0 0px 5px;
	position: absolute;
}
#interieur ul li a:hover.lien2 {
	color:#323232;
}
#interieur .formul {
	width:97%;
	margin:13px 0 0 15px;
	padding-top: 4px;
	border: 1px solid #8b8b8b;
	border-radius: 4px;
}
#interieur .formul h3 {
	font-weight:bold;
	font-size:13px;
	color:#0083c0;
	padding:3px 0 10px 10px;
	background-image:linear-gradient(white, #f1f1f1);
}
#interieur .formul ul {
	padding:0px 0 0 5px;
	height:30px;
	border-top:1px solid #8b8b8b;
	float:none
}
#interieur .formul ul.adresse {
	padding:0px 0 0 5px;
	height:100px;
	border-top:1px solid #8b8b8b;
	float:none
}
#interieur .formul ul li {
	float:left;
	width:33%;
	font-weight:bold;
	padding: 3px 0 0 0;
}
#interieur .formul ul li.ar {
	text-align:right;
	font-size:13px;
	padding-top:8px
}
#interieur .formul ul li.fr {
	text-align:left;
	font-size:11px;
	padding:8px 0 0 5px
}
#interieur .field {
	background-image:linear-gradient(white, #f1f1f1);  /*Adds background-image*/
	border: 1px solid #8b8b8b;
	border-radius: 3px;
	color: #555555;
	font-size: 12px;
	height: 20px;
	padding:1px 0 0 2px;
	width: 200px;
	margin:auto;
	z-index: 10;
}
#interieur .dropdown select {
	border: 1px solid #8b8b8b;
	border-radius: 3px;
	color: #555555;
	font-size: 12px;
	height: 23px;
	padding:1px 0 0 2px;
	width: 81%;
	z-index: 10;
	background-image:linear-gradient(white, #f1f1f1);  /*Adds background-image*/
	color: #555555;
	margin:auto;
}

#footer {
    background: url("../images/bg-footer.png") repeat-x scroll;
    height: 57px;
    width: 100%;
    padding: 12px 20px 0 20px;
    position: relative;
    clear:both;
    bottom: 0px;
    line-height:18px
}
#footer h1 {
    color: #43443;
    font-size: 11px;
    float:left;
}
#footer h2 {
    color: #43443;
    font-size: 11px;
    float:right;
    text-align:center
}

.content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.content1 {
  box-sizing: border-box;
  height: 99px;
  width: 100%;
  overflow: auto;
  position: relative;
}

.button-vert {
	background: url("../images/btn-vert.png") no-repeat;
	border:none;
	height:47px;
	width:170px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	margin:10px auto;
	cursor:pointer;
	color:#fff;
	padding-bottom:6px;
}

.button-blue {
	background: url("../images/btn-blue.png") no-repeat;
	border:none;
	height:47px;
	width:170px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	margin:10px auto;
	cursor:pointer;
	color:#fff;
	padding-bottom:6px;
}

.button-orange {
	background: url("../images/btn-orange.png") no-repeat;
	border:none;
	height:47px;
	width:170px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	margin:10px auto;
	cursor:pointer;
	color:#fff;
	padding-bottom:6px;
}

.button-noir {
  display:block;
  float:right;
  margin:0px 3px 0 10px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  height:29px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;
  cursor:pointer;    
}

.button-vert2:focus 
{
    display:block;
  float:right;
  margin:0px 3px 0 10px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  height:29px;
  color:#FFF;
  outline-style:none;
  background-color:   #1D943B;
    border:   2px solid #0E0707;
      -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;
  cursor:pointer;    
    }  
.button-vert2:hover
{
     display:block;
  float:right;
  margin:0px 3px 0 10px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  height:29px;
  color:#FFF;
  outline-style:none;
  background-color:   #1D943B;
    border:   2px solid #0E0707;
      -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;
  cursor:pointer;    
    }
.button-vert2 {
  display:block;
  float:right;
  margin:0px 3px 0 10px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  height:29px;
  color:#FFF;
  outline-style:none;
  background-color:   #1D943B;
  border: 1px solid #70a052;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;
  cursor:pointer;    
}
.button-Rouge {
  display:block;
  float:right;
  margin:0px 3px 0 10px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  height:29px;
  color:#FFF;
  outline-style:none;
  background-color:   Red;
  border: 1px solid #70a052;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;
  cursor:pointer;    
}
.button-green:hover
{
  margin:0px 3px 0 10px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  height:29px;
  color:#FFF;
  outline-style:none;
  background-color:   #1D943B;
    border:   2px solid #0E0707;
      -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;
  cursor:pointer;    
    }
.button-green {
  margin:0px 3px 0 10px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  height:29px;
  color:#FFF;
  outline-style:none;
  background-color:   #1D943B;
  border: 1px solid #70a052;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;
  cursor:pointer;    
}
.lgd{
font-weight:bold;
padding-left:8px;
padding-right:8px;
color:#e07701; 
}
.f-left{
padding:5px;
float :left ;
border:1px solid #CCC; width:49%; display:inline-block; margin-top:5px;
}
.f-centre{
padding:5px;
border:1px solid #CCC; width:49%; display:block; margin-top:5px; margin:auto;
}
.f-right{
padding:5px;
float : right ;
border:1px solid #CCC; width:49%; display:inline-block; margin-top:5px;
}
[type=checkbox].css-checkbox {display:none;}

[type=checkbox].css-checkbox + label.css-label {
text-align:right;
font-weight:bold;
padding-right:19px;
height:20px; 
color:#555;
display:inline-block;
line-height:20px;
background-repeat:no-repeat;
background-position: right 0;
font-size:14px;
vertical-align:middle;
cursor:pointer;
margin-top:3px
}
[type=checkbox].css-checkbox + label.fz {
font-size:16px; padding-right:25px
}
[type=checkbox].css-checkbox:checked + label.css-label {
background-position: right -20px;
}
label.css-label {
background-image:url(../images/checkbox.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/*------ MODAL POPUP --------*/

.popup_background
{
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 9998;
}
.popupMsg_background
{
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 9999 !important;
}
.popup_block
{
    background: #fff;
    padding: 0px;
    border: 5px solid #ddd;
    overflow-y: auto;
    min-height: 140px;
    min-width: 500px;
    /*
    font-size: 1.2em;
    z-index: 9998; /*--Les différentes définitions de Box Shadow en CSS3--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000; /*--Coins arrondis en CSS3--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.popup_block .header
{
    height: 50px;
    font-size: 12pt;
    line-height: 50px;
    font-weight: lighter;
    color: White;
    background-color: #EF7E00;
    text-transform: uppercase;
    padding: 0px 5px;
}
.infomsg
{
    font-size: 12px;
    line-height: 16px;
    font-weight: lighter;
    color: White;
    padding: 5px;
}
.greenBack
{
    background-color:Green;
}
.redBack
{
    background-color:Red;
}
.popup_block .close
{
    display: block;
    background-image: url("../images/ClosePopup.png");
    height: 36px;
    width: 36px;
    position: absolute;
    top: -42px;
    right: 0px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 9999;
}
.popup_block .affect
{
    display: block;
    background-image: url("../images/addPopup.png");
    height: 36px;
    width: 36px;
    position: absolute;
    top: -40px;
    right: 40px;
    margin-right: 47px;
    cursor: pointer;
    z-index: 9999;
}
.popup_block .add
{
    display: block;
    background-image: url("../images/savePopup.png");
    height: 36px;
    width: 36px;
    position: absolute;
    top: -40px;
    right: 40px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 9999;
}
.popup_block .edit
{
    background-image: url("../images/addPopup.png");
    margin-right: 47px;
}
.popup_block .body
{
    margin: 0px 5px;
    padding: 5px;
}
.add-on
{
    width:180px;
    text-align:left;
}
.failureNotification
{
    color:#ff0000;
}
/***************************************************/
.m-left{ float:left}
.m-right{ float:left}
.m-input-append input:focus, .m-input-prepend input:focus, .m-input-append select:focus, .m-input-prepend select:focus, .m-input-append .m-uneditable-input:focus, .m-input-prepend .m-uneditable-input:focus {
	z-index:2
}
.m-input-append .add-on, .m-input-prepend .add-on {
	display:inline-block;
	width:150px;
	height:29px;
	min-width:16px;
	padding:4px 6px;
	font-size:14px;
	font-weight:normal;
	line-height:19px;
	/*text-align:center;*/
	text-shadow:0 1px 0 #fff;

}

.m-input-append .add-on, .m-input-prepend .add-on, .m-input-append .m-btn, .m-input-prepend .m-btn {
	vertical-align:top;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.m-input-append .active, .m-input-prepend .active {
	background-color:#a9dba9;
	border-color:#46a546
}
.m-input-prepend .add-on, .m-input-prepend .m-btn {
	margin-top:0;
	margin-right:-1px
}
.m-input-prepend .add-on:first-child, .m-input-prepend .m-btn:first-child {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.m-input-append input, .m-input-append select, .m-input-append .m-uneditable-input {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.m-input-append .add-on, .m-input-append .m-btn {
	margin-left:-1px;
	margin-top:0
}
.m-input-append .add-on:last-child, .m-input-append .m-btn:last-child {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.m-input-prepend.input-append input, .m-input-prepend.input-append select, .m-input-prepend.input-append .m-uneditable-input {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.m-input-prepend.m-input-append .add-on:first-child, .m-input-prepend.m-input-append .m-btn:first-child {
	margin-right:-1px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.m-input-prepend.m-input-append .add-on:last-child, .m-input-prepend.m-input-append .m-btn:last-child {
	margin-left:-1px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.m-btn.icn-only {
	min-width:14px
}
.m-btn.bigicn-only {
	min-width:34px
}
.m-btn-group {
	position:relative;
	display:inline-block;
	list-style:none;
	padding:0;
	margin:0;
	zoom:1;
	display:inline
}
.m-btn+.m-btn, .m-btn+.m-btn-group, .m-btn-group+.m-btn, .m-btn-group+.m-btn-group {
	margin-left:15px
}
.m-btn.dropdown-carettoggle {
	min-width:5px;
	height:18px;
	padding:8px
}
.m-btn.dropdown-carettoggle>.caret {
	margin-top:8px
}
.m-btn.caret:hover {
	opacity:1
}
.m-btn-group .m-btn {
	position:relative;
	float:left;
	margin-left:-1px
}
.m-btn-group .m-btn:first-child {
	margin-left:0
}
.m-btn-group .m-btn.rnd:first-child {
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px
}
.m-btn-group .m-btn.rnd.dropdown-carettoggle {
	-webkit-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0
}
.m-btn-strip .m-btn, .m-btn-strip .m-btn-group {
	vertical-align:top
}
.m-btn-group.open {
*z-index:1000
}
.m-btn-group.open .dropdown-carettoggle, .m-btn-group.open .dropdown-toggle {
	background-image:none;
	-webkit-box-shadow:inset 0 1px 6px rgba(0,0,0,0.2);
	-moz-box-shadow:inset 0 1px 6px rgba(0,0,0,0.2);
	box-shadow:inset 0 1px 6px rgba(0,0,0,0.2)
}
.m-btn-group.open .m-dropdown-menu {
	display:block;
	margin-top:1px
}
label.m-wrap, input.m-wrap, button.m-wrap, select.m-wrap, textarea.m-wrap {
	font-size:14px;
	line-height:20px
}
input.m-wrap, button.m-wrap, select.m-wrap, textarea.m-wrap, label.m-wrap {
	font-family:"Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif
}
label.m-wrap {
	display:block;
	margin-bottom:5px
}
select.m-wrap, textarea.m-wrap, input[type="text"].m-wrap, input[type="password"].m-wrap, input[type="datetime"].m-wrap, input[type="datetime-local"].m-wrap, input[type="date"].m-wrap, input[type="month"].m-wrap, input[type="time"].m-wrap, input[type="week"].m-wrap, input[type="number"].m-wrap, input[type="email"].m-wrap, input[type="url"].m-wrap, input[type="search"].m-wrap, input[type="tel"].m-wrap, input[type="color"].m-wrap, .m-uneditable-input, label.m-wrap {
	vertical-align:top;
	display:inline-block;
	height:29px;
	padding-left:6px;
	/*margin-bottom:9px;*/
	margin-top:0;
	font-size:14px;
	line-height:19px;
	color:#003366;
	background-color:#fff;
	border:1px solid #eee;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}

input.m-wrap, textarea.m-wrap, .m-uneditable-input, label.m-wrap {
	width:208px
}
textarea.m-wrap {
	height:auto
}
textarea.m-wrap, input[type="text"].m-wrap, input[type="password"].m-wrap, input[type="datetime"].m-wrap, input[type="datetime-local"].m-wrap, input[type="date"].m-wrap, input[type="month"].m-wrap, input[type="time"].m-wrap, input[type="week"].m-wrap, input[type="number"].m-wrap, input[type="email"].m-wrap, input[type="url"].m-wrap, input[type="search"].m-wrap, input[type="tel"].m-wrap, input[type="color"].m-wrap, .m-uneditable-input, label.m-wrap {
	background-color:#fff;
	border:1px solid #aaa;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:border linear .2s, box-shadow linear .2s;
	-moz-transition:border linear .2s, box-shadow linear .2s;
	-o-transition:border linear .2s, box-shadow linear .2s;
	transition:border linear .2s, box-shadow linear .2s;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
textarea.m-wrap:focus, input[type="text"].m-wrap:focus, input[type="password"].m-wrap:focus, input[type="datetime"].m-wrap:focus, input[type="datetime-local"].m-wrap:focus, input[type="date"].m-wrap:focus, input[type="month"].m-wrap:focus, input[type="time"].m-wrap:focus, input[type="week"].m-wrap:focus, input[type="number"].m-wrap:focus, input[type="email"].m-wrap:focus, input[type="url"].m-wrap:focus, input[type="search"].m-wrap:focus, input[type="tel"].m-wrap:focus, input[type="color"].m-wrap:focus, .m-uneditable-input:focus {
	border-color:#111;
	outline:0;
	outline:thin dotted \9;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
[type="radio"].m-wrap, [type="checkbox"].m-wrap {
	margin:4px 0 0;
	margin-top:1px \9;
*margin-top:0;
	line-height:normal;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
input[type="file"].m-wrap, input[type="image"].m-wrap, input[type="radio"].m-wrap, input[type="checkbox"].m-wrap {
	width:auto
}
select.m-wrap, input[type="file"].m-wrap {
}
select.m-wrap {
	width:208px;
	background-color:#fff;
	border:1px solid #aaa;
	height:29;
	line-height:19px;
}
select[multiple].m-wrap, select[size].m-wrap {
	height:auto
}
select.m-wrap:focus, input[type="file"].m-wrap:focus, input[type="radio"].m-wrap:focus, input[type="checkbox"].m-wrap:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.m-uneditable-input, .m-uneditable-textarea {
	color:#999;
	cursor:default;
	background-color:#fafafa;
	border-color:#aaa;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.m-uneditable-input {
	overflow:hidden;
	white-space:nowrap
}
.m-uneditable-textarea {
	width:auto;
	height:auto
}
input.m-wrap:-moz-placeholder, textarea.m-wrap:-moz-placeholder {
color:#999
}
input.m-wrap:-ms-input-placeholder, textarea.m-wrap:-ms-input-placeholder {
color:#999
}
input.m-wrap::-webkit-input-placeholder, textarea.m-wrap::-webkit-input-placeholder {
color:#999
}
.m-radio, .m-checkbox {
	min-height:18px;
	padding-left:18px
}
.m-radio input[type="radio"].m-wrap, .m-checkbox input[type="checkbox"].m-wrap {
	float:left;
	margin-left:-18px
}
.m-controls>.m-radio:first-child, .m-controls>.m-checkbox:first-child {
	padding-top:5px
}
.m-radio.inline, .m-checkbox.inline {
	display:inline-block;
	padding-top:5px;
	margin-bottom:0;
	vertical-align:middle
}
.m-radio.inline+.m-radio.inline, .m-checkbox.inline+.m-checkbox.inline {
	margin-left:10px
}
.m-ctrl-small {
	width:120px!important
}
.m-ctrl-medium {
	width:206px!important
}
.m-ctrl-large {
	width:320px!important
}
.m-ctrl-huge {
	width:480px!important;
	font-size:24px!important;
	line-height:36px!important;
	padding:22px 8px!important
}
input[class*="span"].m-wrap, select[class*="span"].m-wrap, textarea[class*="span"].m-wrap, .m-uneditable-input[class*="span"] {
	float:none;
	margin-left:0
}
.m-input-append input[class*="span"], .m-input-append .m-uneditable-input[class*="span"], .m-input-prepend input[class*="span"], .m-input-prepend .m-uneditable-input[class*="span"] {
	display:inline-block
}
input.m-wrap, textarea.m-wrap, .m-uneditable-input {
	margin-left:0
}
.m-input-prepend .add-on>[class^="icon-"] {
margin-top:5px;
margin-left:3px
}
.m-input-append .add-on>[class^="icon-"] {
margin-top:5px;
margin-left:0
}
input[disabled].m-wrap, select[disabled].m-wrap, textarea[disabled].m-wrap {
	cursor:not-allowed;
	background-color:#fafafa
}
input[readonly].m-wrap, select[readonly].m-wrap, textarea[readonly].m-wrap {
	cursor:default;
	background-color:#fafafa
}
input[type="radio"][disabled].m-wrap, input[type="checkbox"][disabled].m-wrap, input[type="radio"][readonly].m-wrap, input[type="checkbox"][readonly].m-wrap {
	background-color:transparent
}
input.m-wrap:focus:required:invalid, textarea.m-wrap:focus:required:invalid, select.m-wrap:focus:required:invalid {
color:#b94a48;
border-color:#444
}
input.m-wrap:focus:required:invalid:focus, textarea.m-wrap:focus:required:invalid:focus, select.m-wrap:focus:required:invalid:focus {
border-color:#444
}
.m-input-append, .m-input-prepend {
	margin-bottom:5px;
	font-size:0;
	white-space:nowrap
}
.m-input-append input, .m-input-prepend input, .m-input-append select, .m-input-prepend select, .m-input-append .uneditable-input, .m-input-prepend .uneditable-input, label.m-wrap {
	position:relative;
	*margin-left:0;
	font-size:14px;
	vertical-align:top;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	top: 0px;
	left: 2px;
}
label.m-wrap {background-color:#f5f5f5; padding-top:4px}

.popup_block .add-on {
	display:inline-block;
	width: 100px;
	height: 22px;
	min-width: 14px;
	padding: 4px 18px;
	font-size:14px;
	font-weight:normal;
	line-height: 14px;
	text-align:center;
	text-shadow:0 1px 0 #fff;

}
/* /////////////////////////////////////////////////////////////////////////*/
#loginDetail
{
    display:none;
    min-width:200px;
/*    height:100px;*/
    background:#fff;
    border:1px #CDCDCD solid;
    margin:1px;
    position:absolute;
    z-index:99999;
    right:0px;
    top:44px;
    border-top:0px;
    -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.56);
-moz-box-shadow:    0px 7px 20px rgba(0, 0, 0, 0.56);
box-shadow:         0px 7px 20px rgba(0, 0, 0, 0.56); 
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px; 
}
.inLoginDetail
{
    width:100%;
    height:100%;
    position:relative;
    -webkit-box-shadow: inset 1px 1px 50px 10px #EFEFEF;
    box-shadow: inset 1px 1px 50px 10px #EFEFEF; 
}
#loginDetail *{ font-size:11px; }
.smallfs legend
{
    font-size:14px !important;
    line-height:20px;
    margin:5px;
    margin-bottom:10px;
    width:95%;
}
#loginDetail .lgContent
{
    min-width:300px;
    margin:0px 5px;
}

.topprofile{ margin-right:237px}
.FormGrid { margin: 0 5px !important;}
/* /////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width:1200px) {
	.topprofile {margin-right: 125px;}
	.m-input-append, .m-input-prepend {margin: 10px 2px !important; width: 97% !important; white-space:normal !important}
	.m-input-append .add-on, .m-input-prepend .add-on {width: 100% !important; margin: 0 !important;
    padding: 0 !important;}
.m-input-append input, .m-input-prepend input, .m-input-append select, .m-input-prepend select, .m-input-append 		.uneditable-input, .m-input-prepend .uneditable-input, label.m-wrap {width: 100% !important; margin: 0 !important;
    padding: 0 !important;}
	.RadForm.rfdFieldset fieldset {width: 99% !important; margin:auto}
	.m-left, .m-right {width: 100%;}
	#c-content-large fieldset{ width:99% !important; display: table-column;}
	.FormGrid { overflow:scroll; overflow-y: hidden; width:95%}
	.m-left, .m-right{ margin:0}
}
@media screen and (max-width:850px) {
#contenu {width:85%;margin:auto;}
.f-right{float :none ;width :100%;}
.f-left{width :100%;}
.top-right ul li p.utilisateur {font-size: 9px;}
.topprofile {margin-right: 65px;}
#interieur {width: 90%;}
}

@media screen and (max-width:800px) {
#contenu {width:88%;margin:auto;}
}
@media screen and (max-width:700px) {
#Top {background: transparent url("../images/bg-top.png") repeat scroll left top; height: 80px;}
.top-right { margin-top: 5px;}
}
@media screen and (max-width:580px) {
	#Top {height: 120px;}
#interieur {width: 98%;}
.topprofile {margin-right: 20px; margin-top:5px;}

}
@media screen and (max-width:400px) {

#interieur h1 span, #interieur h1 span a {font-size: 9px;}
}
@media screen and (max-width:350px) {
.top-right ul li p.utilisateur {font-size:7px; padding:8px 0px 0px 0px;}
}

 .PromptCSS
    {
        color: White;
        font-size: medium;
        font-style: normal;
        font-weight: bold;
        background-color: Orange;
        font-family: Courier New;
        border: solid 1px Pink;
        height: 28px;
    }