

/*------------------------- cartouche --------------------------*/

.cartouche {
	width: 286px;
	height:203px;
	float: left;
	margin: 16px 25px 20px 25px;
	background: url("../images/cartouche.png") repeat;
	padding: 0px 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	/*-webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.2);*/
	
	border: 1px solid #cccccc;
    
    /* border: 1px solid #272727; */
    position: relative;
    overflow: hidden;
}

.cartouche .liens {
	background:#dfdfdf url('../images/hover.png') repeat;
	position: absolute;
	top:210px;
	
	-webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,.1);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.1);
	/*border-right: 1px solid #393939;
	border-bottom: 1px solid #393939;*/
	
	-webkit-border-radius: 0px 0px 3px 0px;
    border-radius: 12px;
	z-index:1;
	width: 286px;
	height: 203px;
}

.cartouche .img-liens {
	width: 44px; height: 44px;
	background-position: -444px -252px;
	margin: 0 auto;
}

.cartouche .liens h4 {
	color:#323232;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	background:transparent url('../images/puce-lien.png') no-repeat 7px 6px; height:29px;
	padding:9px 0 0 24px;
	margin:3px 0;
}

.cartouche .liens h4:hover {
	color:#f25227;
}
.cartouche .icons { width:231px; margin:auto; padding-top:15px}
.cartouche .titres h1{ font-family:Verdana, Geneva, sans-serif; font-size:15px; font-weight:bold; color:#555555; text-align:center; padding-top:25px}

.cartouche .liens .bg-icons{position:absolute; bottom: 4px; right: 4px; z-index:-1;}
/*------------------------- small cartouche --------------------------*/

.s-cartouche {
	width: 286px;
	height:99px;
	float: left;
	margin: 16px 25px 9px 25px;
	background: url("../images/s-cartouche.png") repeat;
	padding: 0px 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	/*-webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.2);*/
	
	border: 1px solid #cccccc;
    
    /* border: 1px solid #272727; */
    position: relative;
    overflow: hidden;
}
/*.s-cartouche .last{
	float: none;
	margin: 16px 25px 15px 25px;
}*/

.s-cartouche .liens {
	background:#dfdfdf url('../images/s-hover.png') repeat;
	position: absolute;
	top:210px;
	
	-webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,.1);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.1);
	/*border-right: 1px solid #393939;
	border-bottom: 1px solid #393939;*/
	
	-webkit-border-radius: 0px 0px 3px 0px;
    border-radius: 12px;
	z-index:1;
	width: 286px;
	height: 99px;
}

.s-cartouche .img-liens {
	width: 44px; height: 44px;
	background-position: -444px -252px;
	margin: 0 auto;
}

.s-cartouche .liens h4 {
	color:#323232;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	background:transparent url('../images/puce-lien.png') no-repeat 7px 6px; height:29px;
	padding:9px 0 0 24px;
	margin:3px 0;
}
.s-cartouche .liens h4:hover {
	color:#0083c0;
}
.s-cartouche .icons { width:53px; margin:auto; padding:14px 0 0 12px; float:left}
.s-cartouche .titres h1{ font-family:Verdana, Geneva, sans-serif; font-size:15px; font-weight:bold; color:#555555; text-align:center; padding-top:40px}

.s-cartouche .liens .bg-icons{position:absolute; bottom:4px; right: 4px; z-index:-1;}


/*------------------------- small small cartouche --------------------------*/

.s-s-cartouche {
	width: 286px;
	height:80px;
	float: left;
	margin: 16px 25px 9px 25px;
	background: url("../images/s-s-cartouche.png") repeat;
	padding: 0px 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	/*-webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.2);*/
	
	border: 1px solid #cccccc;
    
    /* border: 1px solid #272727; */
    position: relative;
    overflow: hidden;
}
/*.s-cartouche .last{
	float: none;
	margin: 16px 25px 15px 25px;
}*/

.s-s-cartouche .liens {
	background:#dfdfdf url('../images/s-s-hover.png') repeat;
	position: absolute;
	top:210px;
	
	-webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,.1);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.1);
	/*border-right: 1px solid #393939;
	border-bottom: 1px solid #393939;*/
	
	-webkit-border-radius: 0px 0px 3px 0px;
    border-radius: 12px;
	z-index:1;
	width: 286px;
	height: 89px;
}

.s-s-cartouche .img-liens {
	width: 44px; height: 44px;
	background-position: -444px -252px;
	margin: 0 auto;
}

.s-s-cartouche .liens h4 {
	color:#323232;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	background:transparent url('../images/puce-lien.png') no-repeat 7px 6px; height:29px;
	padding:9px 0 0 24px;
	margin:3px 0;
}
.s-s-cartouche .liens h4:hover {
	color:#0083c0;
}
.s-s-cartouche .icons { width:53px; margin:auto; padding:9px 0 0 12px; float:left}
.s-s-cartouche .titres h1{ font-family:Verdana, Geneva, sans-serif; font-size:15px; font-weight:bold; color:#555555; text-align:center; padding-top:25px}

.s-s-cartouche .liens .bg-icons{position:absolute; bottom:13px; right: 4px; z-index:-1;}


@media screen and (max-width:750px) {
.cartouche {
	float:none;
	margin:auto;
	margin-bottom:15px

}
.s-cartouche {
	float:none;
	margin:auto;
	margin-bottom:15px
}
.s-s-cartouche {
	float:none;
	margin:auto;
	margin-bottom:15px
}
}