<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="FRETNET_DBConnectionString1(FRETNET_RSUPP)" connectionString="Data Source=desktop-1qc5qjc;Initial Catalog=FRETNET_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FRETNET_DBConnectionString" connectionString="Data Source=desktop-1qc5qjc;Initial Catalog=FRETNET_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionStringSaisie" connectionString="Data Source=desktop-1qc5qjc;Initial Catalog=FRETNET_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
